<!DOCTYPE html>
<html>
<head>
  <title><%= statusCode; %> Error</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="assets/favicon.ico">
  <script src="assets/theme.js"></script>
  <link rel="stylesheet" href="assets/base.css">
  <style>
    .header {
      font-size: 10rem;
      font-weight: bold;
    }
    .subheader {
      font-size: 3rem;
      font-weight: bold;
    }
    p {
      font-size: 1.3rem;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header"><%= statusCode; %></div>
    <div class="subheader">An error occured</div>
    <p><%= message; %></p>
  </div>
</body>
</html>