<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="assets/favicon.ico">
  <meta name="theme-color" content="#282c34">
  <meta property="og:title" content="<%= title; %>">
  <meta property="og:description" content="<%= title; %>...">
  <link rel="stylesheet" href="assets/atom-one-dark.css">
  <link rel="stylesheet" href="assets/paste.css">
  <script nonce="1337==7rump5uck5" src="assets/highlight.pack.js"></script>
  <script src="assets/highlightjs-line-numbers.min.js"></script>
  <script defer>hljs.initHighlightingOnLoad()</script>
  <script defer>hljs.initLineNumbersOnLoad()</script>
  <title><%= title; %></title>
</head>
<body>
<pre><code id="code"><%= content; %></code></pre>
</body>
</html>