<!DOCTYPE html>
<html>
<head>
  <title>Slow down</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="assets/favicon.ico">
  <script src="assets/theme.js"></script>
  <link rel="stylesheet" href="assets/base.css">
  <style>
    .subheader {
      font-size: 3rem;
      font-weight: bold;
    }
    p {
      font-size: 1.3rem;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="subheader">Slow down</div>
    <p>You are being rate limited</p>
  </div>
</body>
</html>